        <footer>
          <div class="bg-gray-200 p-5 z-50 relative hidden lg:block">
	    <div class="container w-full lg:max-w-[1024px] mx-auto">
                <div class="flex flex-row items-center gap-2.5 text-gray-500 text-sm">
                    <img src="../i/lf-{{ site.lang }}.svg" alt="">
                    <div class="flex">
                        <p class="xs:border-l xs:border-r border-gray-500 px-2.5 hover:underline"><a href="../disclaimer.html">{{ site.disclaimer }}</a></p>

                    </div>
                    <div class="flex">
                        <p class="xs:border-r border-gray-500 px-2.5 hover:underline"><a href="mailto:info@orgpedia.in?subject={{ site.title }}">{{ site.report_an_error }}</a></p>

                    </div>
                                <div onclick="location.href='https://github.com/orgpedia/cabsec';" style="cursor: pointer;" class="flex xs:border-r border-gray-500 px-2.5">
                                    <span class="border-gray-500 hover:underline"><a href="#">{{ site.view_on_github }}</a></span>
                                    <span class="px-2.5">
				      <img src="../i/gh.svg">
                                    </span>
                                </div>



                    <div class="flex gap-2" style="cursor: pointer;" onclick="location.href='https://creativecommons.org/licenses/by/4.0/'">
                      <span><img src="../i/cc-1.svg"></span>
                      <span><img src="../i/cc-2.svg"></span>
                    </div>
                </div>
	    </div>
          </div>

	<script src="https://unpkg.com/lunr/lunr.js"></script>
	<script src="../j/search.js"></script>
	<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4b28ac948b94411393435f9ff3e233ef"}'></script>
        </footer>
