            <div id="mb" class="min-w-[300px] lg:min-w-[170px] max-w-[170px] fixed h-screen top-0 left-0 lg:top-auto lg:left-auto z-50 w-full ease-in lg:ease-linear duration-200 -translate-x-full lg:-translate-x-0"> <!-- ignore -2 -->
                <div class="container fixed">
                    <nav class="h-screen shadow-md bg-gray-200 px-1 z-40">
                        <div class="flex justify-end w-full py-4 px-2 lg:hidden">
                            <button id="mbc" type="button" class="inline-flex w-10 h-10 justify-center items-center bg-white hover:bg-slate-100 rounded-md">
			      <img src="../i/c.svg" class="w-9 h-9">
                            </button>
                        </div>
                        <ul class="p-4 pl-5 text-xs text-blue-500">

                            <li class="mb-3.5">
                                <a href="ministry.html">
				  {{ site.council_of_ministers }}
                                </a>
                            </li>
			    
                            <li class="mb-3.5">
                                <a href="orders-1947-1952.html">
				  {{ site.orders }}
                                </a>
                            </li>
			  
                            <li class="mb-3.5">
                                <a href="prime.html">
                                    {{ site.prime_ministers }}
                                </a>
                            </li>
                            <li class="mb-3.5">
                                <a href="deputy.html">
                                    {{ site.deputy_prime_ministers }}
                                </a>
                            </li>
                            <li class="mb-3.5">
                                <a href="officers-A.html">
                                  {{ site.ministers }}
				</a>
                            </li>

                            <li class="mb-3.5 lg:hidden">
                                <a href="../languages.html">
				  {{ site.languages }}
                                </a>
                            </li>
                            <li class="mb-3.5 lg:hidden">
                                <a href="../disclaimer.html">
				  {{ site.disclaimer }}
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
