        <footer>
            <div class=" bg-gray-200 w-full p-5 z-50 relative sm:block hidden">
                <div class=" flex flex-col sm:flex-row items-center gap-2.5 text-gray-500 text-sm">
                    <img src="images/footer-logo.png" alt="">
                    <div class="flex">
                        <p class=" xs:border-l xs:border-r border-gray-500 px-2.5 hover:underline"><a
                                href="disclaimer.html">{{ site.disclaimer }}</a></p>

                    </div>
                    <div class="flex">
                        <p class="xs:border-r border-gray-500 px-2.5 hover:underline"><a
                                href="mailto:info@orgpedia.in?subject={{ site.title }}">{{ site.report_an_error }}</a></p>

                    </div>
                                <div onclick="location.href='https://github.com/orgpedia/cabsec';" style="cursor: pointer;" class="flex xs:border-r border-gray-500 px-2.5">
                                    <span class="border-gray-500 hover:underline"><a href="#">{{ site.view_on_github }}</a></span>
                                    <span class="px-2.5">
				      <img src="images/gh.svg"/>
                                    </span>
                                </div>
				

		    
                    <div class=" flex gap-2" style="cursor: pointer;" onclick="location.href='https://creativecommons.org/licenses/by/4.0/'">
                      <span class="">
			<img src="images/cc-1.svg"/>
                        </span>
                      <span class="">
			<img src="images/cc-2.svg"/>			
                        </span>
                    </div>
                </div>
            </div>
        </footer>
