        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@orgpedia_in" />
	<meta name="twitter:creator" content="@mukundesh" />
	<meta property="og:url" content="{{ site.page_url }}" />
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:image" content=" {{ site.image_url }}" />
	<meta property="og:locale" content="{{ site.locale }}" />
	{% for alt_locale in site.alt_locales %}    
	<meta property="og:locale:alternate" content="{{ alt_locale }}" />
	{% endfor %}
	
	
        <title>{{ site.title }} </title>

        <!-- CSS Link -->
        <link rel="stylesheet" href="css/output.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">	
	<script src="https://unpkg.com/lunr/lunr.js"></script>	
	<script src="js/search.js"></script>
	<script defer data-domain="orgpedia.in" src="https://plausible.io/js/plausible.js"></script>		
	<style>
	  .hide-element,
	  .primary.hide-element {
	      display: none;
	  }
	</style>
	<script>
	  const url = "{{ site.page_url }}";
	</script>
