<thml: title> #65

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@orgpedia_in" />
<meta name="twitter:creator" content="@orgpedia_in" />
<meta property="og:url" content="{{ site.page_url }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content=" {{ site.image_url }}" />
<meta property="og:type" content="profile" />

<meta property="og:profile:first_name" content="profile" />
<meta property="og:profile:last_name" content="profile" />
<meta property="og:locale" content="en_GB" />
<meta property="og:locale:alternate" content="fr_FR" />
<meta property="og:locale:alternate" content="es_ES" />
