            <div data-sidebar=""
                class="min-w-[300px] lg:min-w-[170px] max-w-[170px] fixed h-screen top-0 left-0 lg:top-auto lg:left-auto  z-50 w-full ease-in lg:ease-linear duration-200  -translate-x-full lg:-translate-x-0">
                <div class="container fixed">
                    <nav class="h-screen shadow-md bg-gray-200 px-1  z-40">
                        <div class="flex justify-end w-full py-4 px-2 lg:hidden ">
                            <button data-sidebar-close-btn="" type="button"
                                class="inline-flex w-10 h-10 justify-center items-center bg-white hover:bg-slate-100 rounded-md ">
                                <svg class="fill-current w-9 h-9 text-black"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <ul class="p-4 pl-5 text-xs text-blue-500">
                            <li class="mb-3.5">
                                <a class="" href="prime.html">
                                    {{ site.prime_ministers }}
                                </a>
                            </li class="mb-3.5">
                            <li class="mb-3.5">
                                <a class="" href="deputy.html">
                                    {{ site.deputy_prime_ministers }}
                                </a>
                            </li>
                            <li class="mb-3.5">
                                <a class="" href="officers-A.html">
                                  {{ site.ministers }}
				</a>
                            </li>
                            <li class="mb-3.5">
                                <a class="" href="orders-1947-1952.html">
				  {{ site.orders }}
                                </a>
                            </li>
                            <li class="mb-3.5">
                                <a class="" href="disclaimer.html">
				  {{ site.disclaimer }}
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
