<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orgpedia: Information Extraction for Public Good</title>

        <!-- CSS Link -->
        <link rel="stylesheet" href="c/output.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">	
    </head>

    <body>
        <!-- Header -->
        <header>
            <div
                class="bg-black text-gray-50 h-[98px] flex top-0 items-center px-2 lg:px-4 py-2.5 border-b-[9px] border-blue-500 fixed z-50 w-full">
                <div class="container flex flex-wrap justify-center xs:justify-between items-center mx-auto ">
                    <!-- Logo -->
                    <a href="" class="flex items-center">
                        <div class="w-[53px] h-[53px] bg-white flex justify-center items-center rounded-full mr-2.5">
                            <p class="text-[30px] text-black w-[53px] h-[53px] text-center"><span
                                    class="text-blue-500">o</span>p
                            </p>
                        </div>
                        <div class="text-[45px] text-white flex flex-col items-center justify-center">
                            <img src="i/l-en.svg" class="w-32 xs:w-48 lg:w-full" alt="">
                            <p
                                class="text-xs xs:text-sm text-right -mb-3 lg:mb-0 -mr-9 xs:-mr-[70px] lg:-mr-20 xs:-mt-0.5">
                                Information Extraction for Public Good</p>
                        </div>
                    </a>
                </div>
            </div>
        </header>

        <!-- Main Container -->
        <div class="flex p-5 gap-5 pt-[120px] container mx-auto">

            <main class="w-full min-h-screen">
                <section>
                  <div class="container mx-auto lg:p-5">
                    <div>		    
                      <div class="flex flex-col md:flex-row gap-6 mb-8">
                        <div class="flex-1">
			  
                          <div class="text-lg font-semibold text-white p-2 bg-blue-500">
                            <span>Ministers of India in Other Languages</span>
                          </div>
                          <div class="px-7 py-4 bg-gray-200 min-h-[300px]">

			    <ul class="text-blue-500">
                                    <li><a href="as/ministry.html">অসমীয়া (Assamese)</li>
                                    <li><a href="bn/ministry.html">বাংলা (Bangla)</li>
                                    <li><a href="brx/ministry.html">बड़ो (Boro)</li>
				    <li><a href="doi/ministry.html">डोगरी (Dogri)</li>
				    <li><a href="gu/ministry.html">ગુજરાતી (Gujrati)</li>
				    <li><a href="hi/ministry.html">हिन्दी (Hindi)</li>
				    <li><a href="kn/ministry.html">ಕನ್ನಡ (Kannada)</li>
				    <li><a href="ks/ministry.html">کوشور (Kashmiri)</li>
				    <li><a href="gom/ministry.html">कोंकणी (Konkani)</li>
				    <li><a href="mai/ministry.html">मैथिली (Maithili)</li>
				    <li><a href="mni/ministry.html">ꯃꯩꯇꯩꯂꯣꯟ (Meitei)</li>
				    <li><a href="ml/ministry.html">മലയാളം (Malayalam)</li>
				    <li><a href="mr/ministry.html">मराठी (Marathi)</li>
				    <li><a href="ne/ministry.html">नेपाली (Nepali)</li>
				    <li><a href="or/ministry.html">ଓଡ଼ିଆ (Odia)</li>
				    <li><a href="pa/ministry.html">ਪੰਜਾਬੀ (Punjabi)</li>
  				    <li><a href="sa/ministry.html">संस्कृत (Sanskrit)</li>
  				    <li><a href="sat/ministry.html">ᱥᱟᱱᱛᱟᱲᱤ (Santhali)</li>
  				    <li><a href="sd/ministry.html">सिंधी (Sindhi)</li>
  				    <li><a href="te/ministry.html">తెలుగు (Telgu)</li>
  				    <li><a href="ta/ministry.html">தமிழ் (Tamil)</li>
  				    <li><a href="ur/ministry.html">اُردُو (Urdu)</li>
			    </ul>
			  </div>
                          </div>
                        </div>
		      </div>
		    </div>
		  </div>
                </section>
            </main>
        </div>

        <!-- Footer Bottom -->
        <footer>
            <div class="bg-gray-200 w-full p-5 z-50 relative hidden sm:block">
                <div class="flex flex-col sm:flex-row items-center gap-2.5 text-gray-500 text-sm">
                    <img src="i/lf-en.svg" alt="">
                    <div class="flex">
                        <p class="xs:border-l xs:border-r border-gray-500 px-2.5 hover:underline"><a
                                href="disclaimer.html">Disclaimer</a></p>

                    </div>
                    <div class="flex gap-2">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" viewBox="0 0 24 24" width="30"
                                height="30">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 2c-4.42 0-8 3.58-8 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm0 3c1.82 0 3.413.973 4.288 2.428l-1.714 1.029A3 3 0 1 0 12 15a2.998 2.998 0 0 0 2.573-1.456l1.715 1.028A4.999 4.999 0 0 1 7 12c0-2.76 2.24-5 5-5z" />
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" viewBox="0 0 24 24" width="30"
                                height="30">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm2 6a1 1 0 0 1 1 1v4h-1.5v4h-3v-4H9v-4a1 1 0 0 1 1-1h4zm-2-5a2 2 0 1 1 0 4 2 2 0 0 1 0-4z" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
	    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4b28ac948b94411393435f9ff3e233ef"}'></script>
        </footer>
    </body>

</html>
