<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orgpedia: Information Extraction for Public Good</title>

        <!-- CSS Link -->
        <link rel="stylesheet" href="c/output.css">

	<script>
	  const url = "index.html";
	</script>
    </head>

    <body>
        <!-- Header -->
        <header>
            <div
                class="bg-black text-gray-50 h-[98px] flex top-0 items-center px-2 lg:px-4 py-2.5 border-b-[9px] border-blue-500 fixed z-50 w-full">
                <div class="container flex flex-wrap justify-center xs:justify-between items-center mx-auto ">
                    <!-- Logo -->
                    <a class="flex items-center">
                        <div class="w-[53px] h-[53px] bg-white flex justify-center items-center rounded-full mr-2.5">
                            <p class="text-[30px] text-black w-[53px] h-[53px] text-center"><span
                                    class="text-blue-500">o</span>p
                            </p>
                        </div>
                        <div class="text-[45px] text-white flex flex-col items-center justify-center">
                            <img src="i/l-en.svg" class="w-32 xs:w-48 lg:w-full">
                            <p
                                class="text-xs xs:text-sm text-right -mb-3 lg:mb-0 -mr-9 xs:-mr-[70px] lg:-mr-20 xs:-mt-0.5">
                                Information Extraction for Public Good</p>
                        </div>
                    </a>
                </div>
            </div>
        </header>

        <!-- Main Container -->
        <div class="flex p-5 gap-5 pt-[120px] container mx-auto">

            <main class="w-full min-h-screen">
                <section>
                  <div class="container mx-auto lg:p-5">
                    <div>		    
                      <div class="flex flex-col md:flex-row gap-6 mb-8">
                        <div class="flex-1">
			  
                          <div class="text-lg font-semibold text-white p-2 bg-blue-500">
                            <span>About Orgpedia</span>
                          </div>
                          <div class="px-7 py-4 bg-gray-200 min-h-[300px]">
			    <p>All public organizations (big or small) are required to release information about their workings. This information is available on their website in PDF documents. These documents describe various aspects of the organization - postings of officers, details about their financials, the activities they are doing etc. In fact, most government organizations are mandated by law to inform the public about their workings – they do it by issuing orders and government resolutions (GR).
			      
<p class="pt-5">Though the PDF documents provide a wide range of information - the fact that it is presented in PDFs make it very hard to correlate information across different (pdf) documents. The documents are designed for human consumption and are written in local Indian languages, their formats change over time and in most cases don't have identifiers for the key information presented in the document, further exacerbating the problem.

<p class="pt-5">This inability to link information across documents makes any kind of analysis of the organization next to impossible. Also, it is very hard to get a complete picture of the organization – this is true for both people inside and outside the organization. 
Orgpedia aims to provide a technology solution for this problem. 

			    <p class="pt-5">Orgpedia has two broad goals:

<ol class="pl-5 list-decimal list-outside text-base ">			    
<li class="py-2.5"> <b>Build information extraction technology:</b> The technology will extract the information from the pdf documents found in Indian public organizations – Indian languages, formats used in the organizations.

<li class="py-2.5"> <b>Present the information in a way that is easy to consume:</b> Make the information intuitive and actionable. This is achieved by developing higher level concepts, integrating with other public datasets and building novel data visualizations.
</ol>

<p class="pt-5"> All the extracted data, the software for the information extraction and presentation is in open source and is available on <a class="text-blue-500" href="https://github.com/orgpedia">GitHub</a>. In addition to open sourcing the data and the software, all the analysis will be presented in all <a href="languages.html">22 official Indian languages</a> (the languages mentioned in the Eighth schedule of the Indian Constitution), along with English.


<p class="pt-5">Orgpedia Foundation is a section 8 (non profit) company based in Pune, India.

			  </div>

                          <div class="pt-5">
                            <h4 class="text-blue-500 text-lg font-bold text-left">Projects: </h4>
                            <div onclick="location.href='en/prime.html';" style="cursor: pointer;"
				 class="flex items-center gap-10 bg-gray-200 p-6 max-w-[600px] my-14 mx-auto">
                              <div>
                                <img src="i/cover-pager-img.png" alt="">
                            </div>
                              <div>
				<h3 class="text-blue-500 font-bold">Ministers of India</h3>
				<p class="text-base text-gray-600">Analysis of the ministers in the Indian
                                  Cabinet from 1947 to date.</p>
                              </div>
                            </div>
                          </div>
                        </div>
		      </div>
		    </div>
		  </div>
                </section>
            </main>
        </div>

        <!-- Footer Bottom -->
        <footer>
            <div class="bg-gray-200 w-full p-5 z-50 relative hidden sm:block">
                <div class="flex flex-col sm:flex-row items-center gap-2.5 text-gray-500 text-sm">
                    <img src="i/lf-en.svg" alt="">
                    <div class="flex">
                        <p class="xs:border-l xs:border-r border-gray-500 px-2.5 hover:underline"><a
                                href="disclaimer.html">Disclaimer</a></p>

                    </div>
                    <div class="flex gap-2">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" viewBox="0 0 24 24" width="30"
                                height="30">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 2c-4.42 0-8 3.58-8 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm0 3c1.82 0 3.413.973 4.288 2.428l-1.714 1.029A3 3 0 1 0 12 15a2.998 2.998 0 0 0 2.573-1.456l1.715 1.028A4.999 4.999 0 0 1 7 12c0-2.76 2.24-5 5-5z" />
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" viewBox="0 0 24 24" width="30"
                                height="30">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm2 6a1 1 0 0 1 1 1v4h-1.5v4h-3v-4H9v-4a1 1 0 0 1 1-1h4zm-2-5a2 2 0 1 1 0 4 2 2 0 0 1 0-4z" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <script src="./js/script.js"></script>
    </body>

</html>
