<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.2/dist/flowbite.min.css" />
    {% include 'include/head.html' %}
  <script type="application/ld+json">
    {
	"@context": "https://schema.org/",
	"@type": "Legislation",
	"@id": "{{ order.orig_url }}",

	"legislationIdentifier": "{{ order.order_id }}",
	"name": " {{ order.name }}",
	"legislationType": "{{ order.category }}",
	"legislationPassedBy": " {{ site.org_full_name }}",
	"legislationDate": "{{ order.date_str }}",
    }
  </script>
  </head>
  <body>
    {% from 'macros.html' import breadcrumb with context %}
      {% include 'include/header.html' %}

        <!-- Main Container -->
        <div class="flex p-5 gap-5 pt-[120px] max-w-7xl container mx-auto">

          <!-- Side Navigation Menu -->
	  {% include 'include/side_bar.html' %}

          <main class="flex-grow w-full min-h-screen lg:ml-[190px]">
	    {% include 'include/search_results.html' %}
                <section class="primary">
                  <div class=" sm:container mx-auto ">
		    {{ breadcrumb(order.crumbs) }}

                    <div class="p-2.5 bg-gray-200">
		      <!-- Header for both left right panels -->

                      <div class=" flex justify-between">
			<!-- Header for LEFT panel -->

                        <div class="flex gap-2 items-center mb-1">
                          <span>  <img src="images/pdf.svg"> </span>
                          <p class="text-base xs:text-xl font-bold text-blue-500 ">
                            {{ order.order_id }}</p>
                        </div>

                        <div onclick="location.href='https://github.com/orgpedia/cabsec';" style="cursor: pointer;" class="flex items-center gap-2">
                          <span class="text-blue-500"><a href="#">{{ site.view_on_github }}</a></span>
                          <span>
			    <img src="images/gh.svg">
                          </span>
                        </div>
                      </div>

                      <div
                        class="flex flex-col gap-11 lg:flex-row lg:p-0 lg:pr-3 lg:pl-11 text-[#333333] min-h-screen">
                        <div class="flex-1 px-7 lg:p-0">

                          <div class="flex justify-end items-end xl:-mt-8">
                            <div class=" text-right ">
                              <p class="text-sm text-[#666666]">{{ site.order_date }}: {{ order.date_str }}</p>
                              <p class="text-sm text-[#666666]">{{ site.order_type }}:
				<span class="text-base font-bold">{{ order.category }}</span></p>
                            </div>
                          </div>
                          <p class="text-xs text-[#333333] mb-2">{{ site.page }} 1 of {{ order.num_pages }}</p>
                          <div class="bg-[#E8E8E8] ">
                            <div id="controls-carousel" class="relative w-full " data-carousel="static">
                              <!-- Carousel wrapper -->
                              <div class="relative overflow-hidden rounded-r-lg w-full min-h-screen "> <!-- changed this ->
													    <!-- Item 1 -->
				{% for page in order.svg_pages %}
                                <div class="duration-700 ease-in-out absolute inset-0 transition-all transform -translate-x-full z-10"
                                     data-carousel-item="">
                                  <img src="{{ page }}"
                                       class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                       alt="...">
                                </div>
				{% if order.svg_pages|length == 1 %}
                                <div class="duration-700 ease-in-out absolute inset-0 transition-all transform -translate-x-full z-10"
                                     data-carousel-item="">
                                  <img src="{{ page }}"
                                       class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                       alt="...">
                                </div>
				{% endif %}
				{% endfor %}
                              </div>
                              <!-- Slider controls -->
			      {% if order.svg_pages|length > 1 %}
                              <button type="button"
                                      class="absolute top-0 -left-11 lg:-left-[47px] xl:-left-12 z-30 flex items-center justify-center h-full px-4  group focus:outline-none cursor-pointer"
                                      data-carousel-prev>
                                <span
                                  class="h-6 w-6 bg-white flex justify-center items-center rounded-md border border-[#666666]">
                                  <svg viewBox="0 0 24 24"
                                       class="fill-current w-3 h-3">
                                    <path
                                      d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z">
                                    </path>
                                  </svg>
                                </span>
                              </button>
                              <button type="button"
                                      class="absolute top-0 -right-11 lg:-right-[47px] xl:-right-[50px] z-30 flex items-center justify-center h-full px-4 group focus:outline-none cursor-pointer"
                                      data-carousel-next="">
                                <span
                                  class="h-6 w-6 bg-white flex justify-center items-center rounded-md border border-[#666666]">
                                  <svg viewBox="0 0 24 24"
                                       class="fill-current w-3 h-3">
                                    <path
                                      d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z">
                                    </path>
                                  </svg>
                                </span>
                              </button>
			      {% endif %}
                            </div>

                          </div>
                        </div>
                        <div class="flex-1 lg:pt-11 xl:p-3 ">
                          <div class="">
                            <div class=" mb-2">
                              <p class="text-xs text-[#333333]">{{ site.all_pages }}</p>
                            </div>

                            <div class="bg-white">
                              <div class="">
                                <div
                                  class="flex flex-col gap-2.5 p-2 sm:p-5 overflow-y-scroll h-screen"> <!-- changed this -->

				  {% for detail in order.details %}
                                  <div
                                    class=" flex justify-between gap-3 p-2.5 border border-[#C3C3C3]">
				    {% if detail.long_post_str|length > 0 %}
                                    <button onclick="readMore(this);"
                                            class="w-6 h-6 flex-shrink-0 bg-white flex justify-center items-center rounded-md border border-[#666666] cursor-pointer">
                                      <svg viewBox="0 0 24 24"
                                           class="fill-current w-3 h-3">
                                        <path
                                          d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z">
                                        </path>
                                      </svg>
                                    </button>
				    {% else %}
				    <div class="w-[24px]"> </div>
				    {% endif %}
                                    <div onclick="location.href='{{ detail.officer_url }}';" style="cursor: pointer;"
                                         class="flex items-start justify-between gap-2.5 bg-white flex-grow">
                                      <img src="{{ detail.officer_image_url }}"
                                           class="w-[54px] h-[73px] object-cover" alt="">
                                      <div class="flex-grow">
                                        <h3 class="text-lg font-bold leading-5">{{ detail.name }}</h3>

					{{ detail.short_post_str | safe }}
					{% if detail.long_post_str|length > 0 %}
					<!-- Show More Text  -->
					<div data-show-more-text="" class="expand_text hidden">
					  {{ detail.long_post_str | safe }}
					</div>
					{% endif %}
                                      </div>
                                    </div>
                                  </div>
				  {% endfor %}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
        </section>
        </main>
</div>
{% include 'include/footer.html' %}
<script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
<script src="./js/script.js"></script>
</body>
</html>
