<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'include/head.html' %}
  </head>
  
  <script type="application/ld+json">
    {
	"@context": "https://schema.org",
	"@type": "ItemList",
	"url": "{{ site.page_url}}",
	"numberOfItems": "{{ primes | length }}",
	"itemListElement": [
	    {% for prime in primes %}
	    {% from 'macros.html' import officer_jsonld_info with context %}
	    {{ officer_jsonld_info(prime) }}
	    {% endfor %}
	]
    }
  </script>

  <body>
    {% from 'macros.html' import breadcrumb with context %}			      
      {% include 'include/header.html' %}
      
        <!-- Main Container -->
        <div class="flex p-5 gap-5 pt-[120px] max-w-7xl container mx-auto">

          <!-- Side Navigation Menu -->
	  {% include 'include/side_bar.html' %}
      
          <main class="w-full lg:max-w-[918px] lg:ml-[190px] min-h-screen">
	    {% include 'include/search_results.html' %}	    
                <section class="primary">
                  <div class=" sm:container mx-auto ">
		    {{ breadcrumb([(site.home, 'prime.html')]) }}
                        <div class="w-full bg-gray-200 p-3 sm:p-6">
                          <h2 class="text-2xl text-blue-500 font-bold mb-6">{{ site.prime_ministers }}</h2>
                            <div class="grid grid-cols-3 md:grid-cols-4 gap-3 md:gap-5 lg:gap-7">
			      
			      {% for prime in primes %}
			      {% from 'macros.html' import officer_tile with context %}			      
			      {{ officer_tile(prime, 'prime') }}
			      {% endfor %}
                            </div>
                        </div>
                  </div>
                </section>
          </main>
        </div>
	{% include 'include/footer.html' %}	
        <script src="./js/script.js"></script>
    </body>
</html>
