<html>
  <body>
    <div class="block"></div>
    <div class="hidden"></div>
    <div class="rotate-180"></div>
    <div class="rotate-90"></div>
    <div class="bg-white p-5 flex flex-col justify-center items-center rounded-sm shadow-md"></div>
    <div class="w-[75px] h-[106px]"></div>
    <div class="text-base"></div>
    <div class="text-center mt-3.5"></div>
    <div class="text-[11px] text-[#999999]"></div>
    <div class="bg-gray-200 w-full p-5 z-50 relative hidden lg:block"></div>
    <div class="bg-white border border-blue-500 border-b-0 lg:border lg:border-r-0 relative text-sm cursor-pointer"></div>
    <div class="p-2 w-full h-full min-w-[210px] lg:relative bg-white focus:bg-white z-20 lg:-right-1 -bottom-4 lg:-bottom-0 text-[#333333]"></div>
    <div class="bg-[#D9D9D9] border border-[#B8B8B8] lg:border-r-0 cursor-pointer text-sm text-[#333333]"></div>
    <div class="p-2 w-full h-full min-w-[210px]"></div>
    <div class="flex gap-4 items-center"></div>
    <div class="border-t border-b relative -mt-11 -mb-11"></div>
    <div class="pt-10 lg:pt-0 lg:order-none order-last lg:order-none"></div>
    <div class="order-1 order-2 order-3 order-4 order-5 order-6 order-7 order-8 order-9 order-10"></div>
    <div class="order-11 order-12 order-13 order-14 order-15 order-16 order-17 order-18 order-19 order-20"></div>
    <div class="w-[54px] h-[73px] object-cover cursor-pointer flex-grow cursor-pointer text-lg font-bold leading-5"></div>
    <div class="flex items-start justify-between gap-2.5 bg-white flex-grow"></div>
    <div class="flex justify-between gap-3 p-2.5 border border-[#C3C3C3]"></div>
    <div class="w-6 h-6 flex-shrink-0 bg-white flex justify-center items-center rounded-md border border-[#666666] cursor-pointer"></div>
    <div class="w-[24px] fill-current w-3 h-3"></div>
  </body>
</html>
    
